{% extends 'main/base.html' %} 
{% block title %}Library{% endblock %} 
{% block content %}
<div>
    {% for message in messages %}
    <div>{{message}}</div>
    {% endfor %}

  
    <form method="GET" class="my-4 text-sm bg-gray-100 p-4 rounded-md text-gray-900 flex items-center gap-4 flex-col md:flex-row" >
      {{filter.form}}
      <button class="text-xl font-semibold leading-tight p-2 rounded-md text-gray-900 bg-yellow-300 hover:bg-yellow-400" type="submit">Search Books</button>
    </form>
    
    <div class="flex flex-col bg-gray-100 rounded-md">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-x-auto">
              <table class="min-w-full text-center">
                <thead class="border-b bg-gradient-to-r from-[#4873f5] to-[#2bcc69] ">
                  <tr>
                    
                    <th scope="col" class="text-sm font-medium px-6 py-4 text-center">
                      Title
                    </th>
                    <th scope="col" class="text-sm font-medium px-6 py-4 text-center">
                      Author
                    </th>
                    
                    <th scope="col" class="text-sm font-medium px-6 py-4 text-center">
                      Publication Year
                    </th>
                    <th scope="col" class="text-sm font-medium px-6 py-4 text-center">
                      Copies
                    </th>
                    {% if request.user.is_staff %}
                    <th scope="col" class="text-sm font-medium px-6 py-4 text-center">
                      Update
                    </th>
                    {% else %}
                    <th scope="col" class="text-sm font-medium px-6 py-4 text-center">
                      Issue
                    </th>
                    {% endif %}
                   
                    
                  </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    {% if book.copies > 0 %}
                  <tr class="border-b">
                    
                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                      {{book.title}}
                    </td>
                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                      {{book.author}}
                    </td>
                    
                    <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                      {{book.yearOfPublication}}
                    </td>
                    {% if book.copies < 5 %}
                    <td class="text-sm text-rose-400 font-bold px-6 py-4 whitespace-nowrap">
                      {{book.copies}}
                    </td>
                    
                    {% else %}
                    <td class="text-sm text-gray-900 font-bold px-6 py-4 whitespace-nowrap">
                      {{book.copies}}
                    </td>
                    {% endif %}

                    {% if request.user.is_staff %}
                    <td class="px-2 py-5 border-b border-gray-200 text-sm text-center">
                      <a class="border-2 text-center cursor-pointer border-sky-500 text-sky-500 bg-transparent hover:bg-sky-500 hover:text-white shadow-sm rounded-md p-2 whitespace-no-wrap" href="{% url 'update_book' book.id %}">
                        Update
                      </a>
                    </td>
                    {% else %}
                    <td class="px-2 py-5 border-b border-gray-200 text-sm text-center">
                      <a class="border-2 text-center cursor-pointer border-green-500 text-green-500 bg-transparent hover:bg-green-500 hover:text-white shadow-sm rounded-md p-2 whitespace-no-wrap" href="{% url 'issue_book' book.id %}">
                        Issue
                      </a>
                    </td>
                    {% endif %}
                   
                    
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}